@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> userManager
@model dejtingsajt.Models.ProfileViewModel


@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>


    <h4> @Html.DisplayFor(model => model.applicationUser.Name)</h4>
    <hr />
    <div class="row">
        <div class="col-4">
            <div class="row">
                @if (@Model.applicationUser.Photo != null)
                {
                    <img id="profilePicture" style="width:150px;height:150px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(@Model.applicationUser.Photo))">
                }
                else
                {
                    <img id="profilePicture" style="width: 150px; height:150px; object-fit: cover; border-radius: 30px" src="/images/download.jpg">
                }
            </div>


            <div class="row">
                @Html.DisplayFor(model => model.applicationUser.Gender)
            </div>

            <div class="row">
                @Html.DisplayFor(model => model.applicationUser.Age) <text> år</text>
            </div>


            <div class="row">
                <a asp-controller="Friends" asp-action="FriendsList" asp-route-id="@Model.applicationUser.Id">Friends</a>

            </div>
            @if (Model.applicationUser.Id.Equals(userManager.GetUserId(User)))
            {
                <div class="row">

                    <a asp-action="Edit" asp-route-id="@Model.applicationUser.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@Model.applicationUser.Id">Delete</a> |
                    <a asp-action="Index">Back to List</a>
                </div>
            }

            else if (Model.friend.Equals(false))
            {

                <div class="row">
                    <input type="button" class="btn btn-primary" value="Add Friend" onclick="location.href='@Url.Action("AddFriend", "Friends", new { id = Model.applicationUser.Id })'" />

                </div>
            }

            else
            {
                <div class="row">
                    <p class="the-comment"> you are friends </p>
                </div>
            }

        </div>


        <div class="col-6">
            <h3>Wall</h3>
            <textarea class="form-control" id="text" height: 100px;" placeholder="Add your text here..."></textarea>
            <input type="button" id="post" class="btn btn-primary" value="Post" />

            <div class="row">

                @foreach (var send in Model.MessagesSender.Zip(Model.messagesList, (user, msg) => user.Name + " : " + msg.Content))
                {

                    <p class="the-comment">@send</p>

                }

            </div>
        </div>
           

                    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
                    <script type="text/javascript">


$('#post').click(function () {


    var obj = {
        Content:  $('#text').val(),
        ReceiverId:"@Model.applicationUser.Id"
    };
    var msg = JSON.stringify(obj);

    $.ajax({
        type: "POST",
        data: msg,
        contentType: "application/json; charset=UTF-8",
        url: "/api/Messages/sendMessage",
        success: function (data) {
            $('#text').val('');
           window.location.reload();
 }

    });
});

                    </script>


